@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Luckiest Guy", cursive;
    background: cadetblue;
    min-height: 100vh;
}

h2 {
    position: absolute;
    top: 110px;
    height: 100px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

h2 span {
    position: relative;
    top: 20px;
    display: inline-block;
    font-size: 92px;
    color: white;
    animation: bounce 0.3s ease infinite  alternate;
    animation-delay: calc(var(--j) * 0.1s);
}

@keyframes bounce {
    100% {
        top: -20px;
    }
}