@import url(' http://fonts.cdnfonts.com/css/sans/ ');

body {
    background-color: whitesmoke;
}

div {
    aspect-ratio: 1;
    margin: 50px auto;
    height: 150px;
    background-image: conic-gradient(from -45deg at 43% 45%,
                      #ea4335 0 35%,
                      #4285f4 0 60%,
                      #34a853 0 80%,
                      #fbbc05 0 100%);
    font-size: 8em;
    font-weight: 400;
    text-align: center;
    font-family: 'Facile Sans', sans-serif;
    -webkit-background-clip: text;
    color: transparent;
}