* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow: hidden;
  background-color: wheat;
}

section {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  animation: float 5s cubic-bezier(0.37, 0, 0.64, 1) infinite;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: tilt 10s cubic-bezier(0.37, 0, 0.64, 1) infinite;
}

.container span {
  font-weight: 900;
  font-size: 10vw;
  color: lime;
  cursor: pointer;
  transition: font-weight 0.4s ease-in;
  animation: secondFloat 2.5s cubic-bezier(0.37, 0, 0.64, 1) infinite;
}

.container span:nth-child(1) {
  animation-delay: 1s;
}

.container span:nth-child(2) {
  animation-delay: 2s;
}

.container span:nth-child(3) {
  animation-delay: 3s;
}

.container span:hover {
  font-weight: 300;
}

@keyframes float {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 5vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes secondFloat {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 1vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes tilt {
  0% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(1deg);
  }
}