* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.dots {
    list-style: none;
    display: flex;
}

.dots div {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #517994;
    --webkit-animation: bounce 1s infinite alternate;
    --moz-animation: bounce 1s infinite alternate;
    --o-animation: bounce 1s infinite alternate;
    animation: bounce 1s infinite alternate;
}

@-webkit-keyframes bounce {
    to {
        opacity: .2;
        transform: translateY(-20px);
    }
}

@-moz-keyframes bounce {
    to {
        opacity: .2;
        transform: translateY(-20px);
    }
}

@-o-keyframes bounce {
    to {
        opacity: .2;
        transform: translateY(-20px);
    }
}

@keyframes bounce {
    to {
        opacity: .2;
        transform: translateY(-20px);
    }
}

.dots div:nth-child(2) {
    animation-delay: 300ms;
}

.dots div:nth-child(3) {
    animation-delay: .6s;
}